section{
    padding: 20px;
}
.grid-container {
  animation: slidein 3s ease-in-out forwards;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
  animation: slidein 3s ease-in-out forwards;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slidein {
  from{
    transform: translate(-100%);
    opacity: 0;
  }
  to{
    transform: translate(0);
    opacity: 1;
  }  
}